<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>Home</title>
        <%- include('partials/navAssets.ejs') %>
  </head>

<body className='snippet-body'>
   <%- include('partials/navbar.ejs') %>

<!-- navbar ends -->

<!-- cards start -->

<br><br><br>
<br><br><br>
<center><h1 class="display-6">Dashboard</h1></center>
<br><br><br><br>
<div class="container">
  <% for(let i of lender) { %>
    <a class="card2" href="#">
      <h3><%= i.name %></h3>
      <h3><%= i.vnum %></h3>
      <p class="small">Card description with lots of great facts and interesting details.</p>
      <div class="go-corner" href="#">
        <div class="go-arrow">
          →
        </div>
      </div>
    </a>
    <% } %> 
  </div>



</body>
</html>

<style>
    @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
      h3 {
        color: #262626;
        font-size: 17px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 4px;
      }
      
      p {
        font-size: 17px;
        font-weight: 400;
        line-height: 20px;
        color: #666666;
      
        
      }

    .card2 {
        display: block;
        top: 0px;
        position: relative;
        max-width: 262px;
        background-color: #f2f8f9;
        border-radius: 4px;
        padding: 32px 24px;
        margin: 12px;
        text-decoration: none;
        z-index: 0;
        overflow: hidden;
        border: 1px solid #f2f8f9;
        transition: all 0.2s ease-out;
    }
        .card2:hover {
          transition: all 0.2s ease-out;
          box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
          top: -4px;
          border: 1px solid #cccccc;
          background-color: white;
        }
      
        .card2:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: -16px;
          right: -16px;
          background: #00838d;
          height: 32px;
          width: 32px;
          border-radius: 32px;
          transform: scale(2);
          transform-origin: 50% 50%;
          transition: transform 0.15s ease-out;
        }
      
        .card2:hover:before {
          transform: scale(2.15);
        }
      
      
</style>